<script>
    $(function() {
        $('#formCorteAnalise').validate({
            rules: {
                bobina: {required: true},
                pista: {required: true},
                largura: {required: true},
                comprimento: {required: true},
                sanfonaEsq: {required: true},
                sanfonaDir: {required: true},
                qualidadeSacaria : {required: true},
                codigoFaca : {required: false},
                operador: {required: true},
                observacaoTexto: {required: false}
            },
            messages: {
                bobina: {required: 'Informe a bobina'},
                pista: {required: 'Informe a pista'},
                largura: {required: 'Informe a largura'},
                comprimento: {required: 'Informe o comprimento'},
                sanfonaEsq: {required: 'Informe a sanfona esquerda'},
                sanfonaDir: {required: 'Informe a sanfona direita'},
                qualidadeSacaria : {required: 'Informe a qualidade da sacaria'},
                codigoFaca : {required: 'Informe o código da faca'},
                operador: {required: 'Informe o operador'},
                observacaoTexto: {required: ''}
            },
            submitHandler: function (form) {
                $(form).ajaxSubmit({
                    url: '../ajax/salvarCorteAnalise.php',
                    type: 'post',
                    data: {
                        idordemProducao: $('#formCorteAnalise #carregar-idordemProducao').val(),
                        idmaquina: $('#formCorteAnalise #carregar-idmaquina').val()
                    },
                    beforeSubmit: function () {

                        if(!verificaSelectNegativo('#formCorteAnalise') && verificaObservacaoTexto('#formCorteAnalise')){
                            _alert(2, 'Você deve preencher o campo de observação', false, false);
                            return false;
                        }

                        $('#formCorteAnalise .btn-success').attr('disabled', true);
                        $('#formCorteAnalise .btn-success').button('loading');
                    },
                    success: function (r) {
                        var data = $.parseJSON(r);
                        (data.status ? _alert(1, data.msg, form, true) : _alert(2, data.msg, false, false));
                        $('#formCorteAnalise .btn-success').attr('disabled', false);
                        $('#formCorteAnalise .btn-success').button('reset');
                    }
                });
            }
        });

        $('#corteAnalise-outra-bobina').on('click',function() {
            if ($(this).prop('checked')) {
                $('#formCorteAnalise #bobina').selectpicker('hide');
                $('#formCorteAnalise #bobinaValorOutro').prop('disabled', false).val('999').show();
            } else {
                $('#formCorteAnalise #bobina').selectpicker('show');
                $('#formCorteAnalise #bobinaValorOutro').prop('disabled', true).val('').hide();
            }
        });

        $('#formCorteAnalise #semAnalise').click(function(){
            semAnaliseCorte('#formCorteAnalise');
        });

        $('#formCorteAnalise #reinspecao').click(function(){
            if($('#formCorteAnalise #reinspecao:checkbox:checked').length > 0){
                $('#formCorteAnalise #semAnalise').prop('checked', false).prop('disabled', true);
            } else {
                $('#formCorteAnalise #semAnalise').prop('disabled', false);
            }
            semAnaliseCorte('#formCorteAnalise');
        });
    });
</script>
<form action="../ajax/salvarCorteAnalise.php" id="formCorteAnalise" name="formCorteAnalise" method="POST" enctype="multipart/form-data">
    <input type="hidden" id="carregar-idordemProducao" name="carregar-idordemProducao" value=""/>
    <input type="hidden" id="carregar-idmaquina" name="carregar-idmaquina" value=""/>
    <input type="hidden" id="idcorteAnalise" name="idcorteAnalise" value=""/>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title text-info carregar-cliente"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <div class="alert alert-danger alert-bobina-nao_analisada">
                        <label><input type="checkbox" value="1" id="semAnalise" name="semAnalise"> Bobina não analisada</label>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <div class="alert alert-info alert-bobina-nao_analisada">
                        <label><input type="checkbox" value="1" id="reinspecao" name="reinspecao"> Reinspeção</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="bobina">Bobina:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="bobinaValorOutro" name="bobinaValorOutro" disabled style="display: none;" readonly>
                        <select class="form-control selectpicker" id="bobina" name="bobina" title="">
                        </select>
                        <div class="pull-right mt-xxs corteAnalise-outra-bobina" style="display: none;">
                            <label><input type="checkbox" value="1" id="corteAnalise-outra-bobina"> Bobina de estoque</label>
                        </div>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" onclick="carregarObservacoesBobina();">
                                <i class="fa fa-table"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="pista">Pista:</label>
                    <select class="form-control selectpicker" id="pista" name="pista" title="">
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="largura">Largura:</label>
                    <input type="tel" class="form-control campo-mascara-largura" id="largura" name="largura" placeholder="Largura">
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="comprimento">Comprimento:</label>
                    <input type="tel" class="form-control campo-mascara-comprimento" id="comprimento" name="comprimento" placeholder="Comprimento">
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-xs-6">
                <div class="form-group">
                    <label for="sanfonaEsq" id="labelSanfona">Sanfona:</label>
                    <div class="row">
                        <div class="col-xs-6">
                            <input type="tel" class="form-control campo-mascara-sanfona" id="sanfonaEsq" name="sanfonaEsq" placeholder="esq">
                        </div>
                        <div class="col-xs-6">
                            <input type="tel" class="form-control campo-mascara-sanfona" id="sanfonaDir" name="sanfonaDir" placeholder="dir">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <label for="qualidadeSolda">Qualidade da solda:</label>
                    <select class="form-control selectpicker" id="qualidadeSolda" name="qualidadeSolda" title="">
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="qualidadeSacaria">Qualidade da sacaria:</label>
                    <select class="form-control selectpicker" id="qualidadeSacaria" name="qualidadeSacaria" title="">
                    </select>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="codigoFaca">Código da faca:</label>
                    <select class="form-control selectpicker" id="codigoFaca" name="codigoFaca" title="">
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="qualidadeImpressao">Qualidade da impressão:</label>
                    <select class="form-control selectpicker" id="qualidadeImpressao" name="qualidadeImpressao" title="">
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="operador">Operador:</label>
                    <select class="form-control selectpicker" id="operador" name="operador" title="">
                    </select>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="observacao">Observação:</label>
                    <select class="form-control selectpicker" multiple id="observacao" name="observacao[]" title="">
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <textarea class="form-control" rows="3" id="observacaoTexto" name="observacaoTexto">Aut:
Rep:</textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <button type="submit" id="salvarAnalise" class="btn btn-block btn-lg btn-success" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Enviando">
                        Incluir análise
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>