<script>
    var myLineChart = null;
    var myLineChart2 = null;

    $(function () {
        data = new Date();
        $("#dataInicial").val(data.toISOString().slice(0, 10));
        $("#dataFinal").val(data.toISOString().slice(0, 10));
        carregarIndice();
    });
    function carregarIndice() {
        waitingDialog.show();
        $("#resultado").empty();
        $("#tituloResultado").empty();
        $("#divResultado").css('display', 'none');
        $.ajax({
            type: "POST",
            url: '../ajax/carregarIndice.php',
            data: {
                idUsuario: $("#analistaSelecionado").val(),
                dataInicial: $("#dataInicial").val(),
                dataFinal: $("#dataFinal").val()
            },
            success: function (r) {
                r = $.parseJSON(r);
                if (r) {
                    if (myLineChart != null) myLineChart.destroy();
                    if (myLineChart2 != null) myLineChart2.destroy();
                    extrusora = r.indiceAnalista.Extrusora;
                    impressora = r.indiceAnalista.Impressora;
                    refile = r.indiceAnalista.Refile;
                    corte = r.indiceAnalista.Corte;
                    myLineChart = new Chart(document.querySelector('#doughnutChart'), {
                        type: 'doughnut',
                        data: {
                            labels: [
                                'Extrusao',
                                'Impressao',
                                'Corte',
                                'Refile'
                            ],
                            datasets: [{
                                data: [extrusora, impressora, corte, refile],
                                backgroundColor: [
                                    'red',
                                    'yellow',
                                    'blue',
                                    'orange'
                                ],
                                hoverOffset: 4
                            }]
                        },
                        options: {

                            onClick(e) {
                                try {
                                    const activePoints = myLineChart.getElementsAtEventForMode(e, 'nearest', {
                                        intersect: true
                                    }, false)
                                    const [{
                                        index
                                    }] = activePoints;
                                    carregarAnalises(this.data.labels[index]);
                                } catch {

                                }
                            }
                        }
                    });
                    myLineChart2 = new Chart(document.querySelector('#doughnutChart2'), {
                        type: 'bar',
                        data: {
                            funcoes: ['semPreSetup', 'ordensNaoIniciadas', 'bobinasNaoAnalisadas'],
                            classes: ['OrdemProducao', 'OrdemProducao', 'OrdemProducaoBobina'],
                            labels: [
                                'Pré-setup',
                                'Ordens iniciadas',
                                'Bobinas não analisadas'
                            ],
                            datasets: [{
                                label: 'Falta de analise',
                                data: [r.quantidadeSemPreSetup,
                                r.ordensPendentes,
                                r.quantidadeBobinasNaoAnalisadas],
                                backgroundColor: [
                                    'rgb(255, 99, 132)',
                                    'rgba(255, 159, 64)',
                                    'rgba(255, 0, 0)'
                                ],
                                hoverOffset: 10
                            }]

                        },
                        options: {
                            onClick(e) {
                                try {
                                    const activePoints = myLineChart2.getElementsAtEventForMode(e, 'nearest', {
                                        intersect: true
                                    }, false);
                                    const [{
                                        index
                                    }] = activePoints;
                                    carregarFaltaDeAnalise(this.data.funcoes[index],
                                        this.data.labels[index],
                                        this.data.classes[index]);
                                } catch (error) {

                                }
                            }
                        }
                    });
                }
            }
        });
        waitingDialog.hide();
    }
    function carregarAnalises(funcao) {
        $.ajax({
            type: "POST",
            url: '../ajax/carregarAnalise.php',
            data: {
                idUsuario: $("#analistaSelecionado").val(),
                dataInicial: $("#dataInicial").val(),
                dataFinal: $("#dataFinal").val(),
                setor: funcao
            },
            success: function (r) {
                r = $.parseJSON(r);
                $("#resultado").empty();
                $("#tituloResultado").empty();
                $("#tituloResultado").append('Análise setor: ' + funcao);

                var tabela = document.createElement("table");
                $(tabela).addClass("table table-striped table-responsive");
                var thead = document.createElement("thead");
                var cabecalho = document.createElement("tr");
                var campoCabe = null;

                campoCabe = document.createElement("th");
                campoCabe.append('Maquina');
                cabecalho.append(campoCabe);
                campoCabe = document.createElement("th");
                campoCabe.append('Ordem');
                cabecalho.append(campoCabe);
                campoCabe = document.createElement("th");
                campoCabe.append('Cliente');
                cabecalho.append(campoCabe);
                campoCabe = document.createElement("th");
                campoCabe.append('Item');
                cabecalho.append(campoCabe);
                campoCabe = document.createElement("th");
                campoCabe.append('Data');
                cabecalho.append(campoCabe);
                campoCabe = document.createElement("th");
                campoCabe.append('Analista');
                cabecalho.append(campoCabe);
                thead.append(cabecalho);
                tabela.append(thead);

                var tbody = document.createElement("tbody");
                for (let i = 0; i < r.length; i++) {
                    var linha = document.createElement("tr");
                    campo = document.createElement("td");
                    campo.append(r[i].maquina);
                    linha.append(campo);
                    campo = document.createElement("td");
                    campo.append(r[i].numero);
                    linha.append(campo);
                    campo = document.createElement("td");
                    campo.append(r[i].cliente);
                    linha.append(campo);
                    campo = document.createElement("td");
                    campo.append(r[i].item);
                    linha.append(campo);
                    campo = document.createElement("td");
                    let data = new Date(r[i].dataCriacao);
                    data.setHours(data.getHours() + 3);
                    campo.append(data.toLocaleDateString());
                    console.log(r[i].dataCriacao);
                    linha.append(campo);
                    campo = document.createElement("td");
                    campo.append(r[i].usuario);
                    linha.append(campo);

                    tbody.append(linha);
                }
                tabela.append(tbody);
                $("#resultado").append(tabela);
                $("#divResultado").css('display', 'block');

            }
        });
    }
    function carregarFaltaDeAnalise(funcao, titulo, classe) {
        $.ajax({
            type: "POST",
            url: '../ajax/carregarFaltaDeAnalise.php',
            data: {
                idUsuario: $("#analistaSelecionado").val(),
                dataInicial: $("#dataInicial").val(),
                dataFinal: $("#dataFinal").val(),
                funcao: funcao,
                classe: classe
            },
            success: function (r) {
                r = $.parseJSON(r);
                $("#resultado").empty();
                $("#tituloResultado").empty();
                $("#tituloResultado").append('Falta de analise: ' + titulo);
                var tabela = document.createElement("table");
                $(tabela).addClass("table table-striped table-responsive");
                var thead = document.createElement("thead");
                var cabecalho = document.createElement("tr");
                var campoCabe = null;
                campoCabe = document.createElement("th");
                campoCabe.append('Maquina');
                cabecalho.append(campoCabe);
                campoCabe = document.createElement("th");
                campoCabe.append('Ordem');
                cabecalho.append(campoCabe);
                campoCabe = document.createElement("th");
                campoCabe.append('Cliente');
                cabecalho.append(campoCabe);
                campoCabe = document.createElement("th");
                campoCabe.append('Item');
                cabecalho.append(campoCabe);

                if (r[0].dataCriacao) {
                    campoCabe = document.createElement("th");
                    campoCabe.append('Data');
                    cabecalho.append(campoCabe);
                } else if (r[0].dataUltimaPesada) {
                    campoCabe = document.createElement("th");
                    campoCabe.append('Data ultima');
                    cabecalho.append(campoCabe);
                }

                campoCabe = document.createElement("th");
                if (r[0].numeroBobinas) {
                    campoCabe.append('Bobinas pedido');
                } else if (r[0].quantBobinaPesada) {
                    campoCabe.append('Faltam');
                } else {
                    campoCabe.append('Bobina');
                }

                cabecalho.append(campoCabe);
                thead.append(cabecalho);
                tabela.append(thead);
                var tbody = document.createElement("tbody");
                for (let i = 0; i < r.length; i++) {
                    var linha = document.createElement("tr");
                    campo = document.createElement("td");
                    if (r[i].maquina == null) {
                        campo.append('Não iniciada');
                    } else {
                        campo.append(r[i].maquina);
                    }
                    linha.append(campo);
                    campo = document.createElement("td");
                    campo.append(r[i].numero);
                    linha.append(campo);
                    campo = document.createElement("td");
                    campo.append(r[i].cliente);
                    linha.append(campo);
                    campo = document.createElement("td");
                    campo.append(r[i].item);
                    linha.append(campo);
                    if (r[i].dataCriacao) {
                        let data = new Date(r[i].dataCriacao);
                        data.setHours(data.getHours() + 3);
                        campo = document.createElement("td");
                        campo.append(data.toLocaleDateString());
                        linha.append(campo);
                    } else if (r[i].dataUltimaPesada) {
                        let data = new Date(r[i].dataUltimaPesada);
                        data.setHours(data.getHours() + 3);
                        campo = document.createElement("td");
                        campo.append(data.toLocaleDateString());
                        linha.append(campo);
                    }
                    campo = document.createElement("td");
                    if (r[i].numeroBobinas) {
                        campo.append(r[i].numeroBobinas);
                    } else if (r[0].quantBobinaPesada) {
                        campo.append(r[i].quantBobinaPesada - r[i].quantRegistro);
                    } else {
                        campo.append(r[i].bobina);
                    }
                    linha.append(campo);

                    tbody.append(linha);
                }
                tabela.append(tbody);
                $("#resultado").append(tabela);
                $("#divResultado").css('display', 'block');

            }
        });
    }

    function adicionarOPPendencia(idmaquina, numeroOP) {
        waitingDialog.show();
        $.ajax({
            type: "POST",
            url: '../ajax/salvarOrdemProducaoAreaTrabalho.php',
            async: true,
            data: {
                idmaquina: idmaquina,
                numeroOrdemProducao: numeroOP,
                flag: true
            },
            success: function (r) {
                var data = $.parseJSON(r);
                if (!data.status && data.naoMostraPendencia != '1') {
                    _alert(2, data.msg, false, false)
                } else {
                    window.location.href = 'areaTrabalho.php?maquina=1&idmaquina=' + idmaquina;
                }
                waitingDialog.hide();
            }
        });
    }

    function carregarPendencia() {
        $('.pendencias').show();
        $('.pendencias').append('<div class="alert alert-warning text-center loading-pendencia"><i class="fa fa-spinner fa-spin"></i></div>');
        $.ajax({
            type: "POST",
            url: '../ajax/carregarPendencia.php',
            data: {},
            success: function (r) {
                r = $.parseJSON(r);
                if (r) {
                    $('pendencias .alert-danger').remove();
                    $.each(r, function (i, val) {
                        if (val.maquina) {
                            $('.relacaoPendencia').append(
                                '<a href="#" onclick="adicionarOPPendencia(' + val.idmaquina + ', ' + val.numero + ')" class="list-group-item list-group-item-warning">Extrusora ' + (val.maquina ? val.maquina : '<span class="text-danger">?</span>') + ' - OP <b>' + val.numero + '</b> - ' + val.quantBobinaPesada + ' Bobinas pesadas <i class="fa fa-external-link pull-right" aria-hidden="true"></i></a>'
                            );
                        } else {
                            $('.relacaoPendencia').append(
                                '<li class="list-group-item list-group-item-default"">Extrusora ' + (val.maquina ? val.maquina : '<span class="text-danger">?</span>') + ' - OP <b>' + val.numero + '</b> - ' + val.quantBobinaPesada + ' Bobinas pesadas </li>'
                            );
                        }
                    });
                } else {
                    $('.pendencias').append('<div class="alert alert-warning">Nenhuma pendência encontrada. </div>');
                }
                $('.pendencias').show();
                $('.loading-pendencia').remove();
            }
        });
    }
    $(function () {
        carregarPendencia();
        $('.planta_fabrica .nav li a').click(function () {
            if ($(this).attr('carregarPendencia') == 1) {
                carregarPendencia();
            } else {
                $('.relacaoPendencia').html('');
                $('.pendencias').hide();
            }
        });
    });
    $(document).ready(function () {
        $("#remover").click(function (e) {
            e.preventDefault();
            $("#resultado").empty();
            $("#tituloResultado").empty();
            $("#divResultado").css('display', 'none');
        })
        $("#dataInicial").change(function () {
            if ($(this).val() > $("#dataFinal").val()) {
                $("#dataFinal").prop('min', $("#dataInicial").val());
                $("#dataFinal").val('');
            }
        })
        $("#dataFinal").focusout(function () {
            if ($(this).val() < $("#dataInicial").val()) {
                $(this).prop('min', $("#dataInicial").val());
                $("#dataFinal").val('');
            }
        })
        $("#buscaIndice").click(function () {
            carregarIndice();
        })
    })

</script>
<div class="container planta_fabrica">
    <div class="row ">
        <div class="col-sm-5 mt-10">
            <ul class="nav nav-pills nav">
                <!-- START BLOCK : lista-tipo-maquina -->
                <li class="{active} {menuDesativado}"
                    style="background-color: #EEE; border:1px solid #DDD; border-radius: 5px;"><a data-toggle="{toggle}"
                        href="#{tipoMaquinaAnchor}" carregarPendencia="{carregarPendencia}"
                        indice="{indice}">{tipoMaquina}</a></li>
                <!-- END BLOCK : lista-tipo-maquina -->
            </ul>
        </div>
        <div class="col-sm-7 ">
            <div class="panel panel-default area-trabalho-op">
                <div class="panel-heading  ">
                    <h3 class="panel-title">Indices desempenho Analista</h3>
                    <span class="pull-right clickable panel-collapsed"><i
                            class="fa fa-2x pl-xxs fa-chevron-circle-down"></i></span>
                </div>
                <div class="panel-body" style="display: none;">
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Analista</label>
                            <select class="form-control" id="analistaSelecionado">
                                <!-- START BLOCK : lista-analistas -->
                                <option value="{idusuario}" {selected}>{analista}</option>
                                <!-- END BLOCK : lista-analistas -->
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label>Data inicial</label>
                            <input class="form-control" type="date" id="dataInicial" />
                        </div>
                        <div class="col-sm-3">
                            <label>Data final</label>
                            <input class="form-control" type="date" id="dataFinal" min="" />
                        </div>
                        <div class="col-sm-2">
                            <label>Buscar</label>
                            <a id="buscaIndice" class="glyphicon glyphicon-search btn btn-primary"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- Doughnut Chart -->
                            <canvas id="doughnutChart" style="max-height: 200px;"></canvas>
                            <!-- End Doughnut CHart -->
                        </div>
                        <div class="col-sm-6">
                            <!-- Doughnut Chart -->
                            <canvas id="doughnutChart2" style="max-height: 200px;"></canvas>
                            <!-- End Doughnut CHart -->
                        </div>
                    </div>
                    <div class="row panel panel-default area-trabalho-op " style="display: none;" id="divResultado">
                        <div class="panel-heading">
                            <h3 class="panel-title" id="tituloResultado"></h3>
                            <span class="pull-right">
                                <a href="#" id="remover" class="fa fa-minus-circle fa-2x text-danger"
                                    style="text-decoration:none"></a>
                            </span>
                        </div>
                        <div class="panel-body" id="resultado">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content planta-fabrica">
            <!-- START BLOCK : lista-bloco-maquina -->
            <div class="tab-pane fade in {active}" id="{tipoMaquinaAnchor}">
                <h3>{tipoMaquina}</h3>
                <div class="row">
                    <!-- START BLOCK : lista-maquina -->
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                        <a href="areaTrabalho.php?maquina={idtipoMaquina}&idmaquina={idmaquina}"
                            title="{mensagemDelay}">
                            <div class="well well-lg text-center maquina-atalho-{classeMaquina} {classeDelay}">
                                {tipoMaquina} {maquina}
                                <i class="{iconeDelay}"></i>
                            </div>
                        </a>
                    </div>
                    <!-- END BLOCK : lista-maquina -->
                </div>
            </div>

            <!-- END BLOCK : lista-bloco-maquina -->
            <div class="row">
                <div class="col-xs-12">
                    <hr>
                    <span><b>Legenda: </b></span>
                    <i class="fa fa-exclamation-triangle"></i>
                    <span>Máquina ociosa</span>
                </div>
            </div>

            <div class="pendencias" style="display: none;">
                <hr>
                <h4>Relação de OPs iniciadas sem nenhuma análise do analista de qualidade</h4>
                <ul class="list-group relacaoPendencia">
                </ul>
            </div>
        </div>
    </div>