<form action="" id="formImpressoraLiberacao" name="formImpressoraLiberacao" method="POST" enctype="multipart/form-data">
    <input type="hidden" id="carregar-idordemProducao" name="carregar-idordemProducao" value=""/>
    <input type="hidden" id="carregar-idmaquina" name="carregar-idmaquina" value=""/>
    <input type="hidden" id="idimpressoraLiberacao" name="idimpressoraLiberacao" value=""/>
    <div class="container-fluid">
        <h3 class="panel-title text-info carregar-cliente"></h3>
        <hr>
        <div class="row semAnalise">
            <div class="col-xs-12">
                <div class="form-group">
                    <div class="alert alert-danger">
                        <label>Liberação sem vistoria do analista</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row reinspecao">
            <div class="col-xs-12">
                <div class="form-group">
                    <div class="alert alert-info">
                        <label>Reinspeção</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row comAnalise">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="bobina">Bobina:</label>
                    <span id="bobina" name="bobina"></span>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="analiseVisual">Análise visual:</label>
                    <span id="analiseVisual" name="analiseVisual"></span>
                </div>
            </div>
        </div>
        <div class="row comAnalise">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="tonalidade">Tonalidade:</label>
                    <span id="tonalidade" name="tonalidade"></span>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="conferenciaArte">Conferência da arte:</label>
                    <span id="conferenciaArte" name="conferenciaArte"></span>
                </div>
            </div>
        </div>
        <div class="row comAnalise">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="ladoTratamento">Lado tratamento:</label>
                    <span id="ladoTratamento" name="ladoTratamento"></span>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="larguraEmbalagem">Largura da embalagem:</label>
                    <span id="larguraEmbalagem" name="larguraEmbalagem"></span>
                </div>
            </div>
        </div>
        <div class="row comAnalise">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="passoEmbalagem">Passo da embalagem:</label>
                    <span id="passoEmbalagem" name="passoEmbalagem"></span>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="leituraCodigoBarras">Leitura código de barras:</label>
                    <span id="leituraCodigoBarras" name="leituraCodigoBarras"></span>
                </div>
            </div>
        </div>
        <div class="row comAnalise">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="testeAderenciaTinta">Teste de aderência de tinta:</label>
                    <span id="testeAderenciaTinta" name="testeAderenciaTinta"></span>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="sentidoDesbobinamento">Sentido do desbobinamento:</label>
                    <span id="sentidoDesbobinamento" name="sentidoDesbobinamento"></span>
                </div>
            </div>
        </div>
        <div class="row comAnalise">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="operador">Operador:</label>
                    <span id="operador" name="operador"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="observacaoTexto">Observação:</label>
                    <span id="observacaoTexto" name="observacaoTexto"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="analista">Analista:</label>
                    <span id="analista" name="analista"></span>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="dataHora">Data - Hora:</label>
                    <span id="dataHora" name="dataHora"></span>
                </div>
            </div>
        </div>
    </div>
</form>