<form action="" id="formRefileLiberacao" name="formRefileLiberacao" method="POST" enctype="multipart/form-data">
    <input type="hidden" id="carregar-idordemProducao" name="carregar-idordemProducao" value=""/>
    <input type="hidden" id="carregar-idmaquina" name="carregar-idmaquina" value=""/>
    <input type="hidden" id="idrefileLiberacao" name="idrefileLiberacao" value=""/>
    <div class="container-fluid">
        <h3 class="panel-title text-info carregar-cliente"></h3>
        <hr>
        <div class="row semAnalise">
            <div class="col-xs-12">
                <div class="form-group">
                    <div class="alert alert-danger">
                        <label>Liberação sem vistoria do analista</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row reinspecao">
            <div class="col-xs-12">
                <div class="form-group">
                    <div class="alert alert-info">
                        <label>Reinspeção</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row comAnalise">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="bobina">Bobina:</label>
                    <span id="bobina" name="bobina"></span>
                </div>
            </div>
        </div>
        <div class="row comAnalise">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="largura">Largura:</label>
                    <span id="largura" name="largura"></span>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="comprimento">Comprimento:</label>
                    <span id="comprimento" name="comprimento"></span>
                </div>
            </div>
        </div>
        <div class="row comAnalise">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="qualidadePicote">Qualidade do picote:</label>
                    <span id="qualidadePicote" name="qualidadePicote"></span>
                </div>
            </div>
        </div>
        <div class="row comAnalise">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="qualidadeNovaBobina">Qualidade da nova bobina:</label>
                    <span id="qualidadeNovaBobina" name="qualidadeNovaBobina"></span>
                </div>
            </div>
        </div>
        <div class="row comAnalise">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="qualidadeImpressao">Qualidade da impressão:</label>
                    <span id="qualidadeImpressao" name="qualidadeImpressao"></span>
                </div>
            </div>
        </div>
        <div class="row comAnalise">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="operador">Operador:</label>
                    <span id="operador" name="operador"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="observacaoTexto">Observação:</label>
                    <span id="observacaoTexto" name="observacaoTexto"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="analista">Analista:</label>
                    <span id="analista" name="analista"></span>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="dataHora">Data - Hora:</label>
                    <span id="dataHora" name="dataHora"></span>
                </div>
            </div>
        </div>
    </div>
</form>